<!DOCTYPE html>
<html lang="it">


<head>
    <meta charset="UTF-8">
    <title>Planning Visite</title>
</head>
<body>
   <div style="margin-bottom:20px;">
        <a href="{{ url_for('index') }}">Home</a> |
        <a href="{{ url_for('planning') }}">Planning</a> |
        <a href="{{ url_for('configura') }}">Configura</a>
    </div>

    <h1>Clienti da programmare</h1>

    <h2>Questa settimana</h2>
    {% if questa_settimana %}
        <ul>
            {% for c in questa_settimana %}
                <li>{{ c.cliente }} {{ c.prossima_visita }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nessun cliente da programmare questa settimana.</p>
    {% endif %}

    
    <h2>Ancora da visitare</h2>

    {% if mai_visitati %}
    <ul>
        {% for c in mai_visitati %}
            <li>
                {{ c.cliente }} — frequenza: {{ c.frequenza }}
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Tutti i clienti hanno almeno una visita registrata</p>
    {% endif %}
</body>
</html>